/* pokemon-detail.css */

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    margin: 20px 0;
}

#pokemon-detail {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: inline-block;
    text-align: left;
}

.pokemon-image {
    width: 150px;
    height: 150px;
}

.pokemon-shiny {
    width: 75px;
    height: 75px;
}

.pokemon-info {
    margin-top: 20px;
}
